@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.header-custom {
    position: relative;
    width: 60%;
    left: -20%;
}

.header-custom-text {
    position: absolute;
    top: 40%;
    white-space: nowrap;
}

.allura {
    font-family: "Allura";
}
